*{
    margin: 0;
    padding: 0;
    background-color: #f1f2f6;
}

.header{
    padding: 50px;
    display:flex;
    justify-content: space-around;
    background-color: #1e90ff;
}

.logotipo{
    width: 10%;
}

.menu li,.menu a{
list-style: none;
text-transform: uppercase;
text-decoration: none;
font-weight:lighter;
padding: 5px;
color:#ffffff;
background-color: #1e90ff;
font-family: Georgia;
}
.carrossel{
    border: 1px solid black;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ilustracao{
    border: 1px solid black;
    margin: 10px;
    padding: 100px;
}

.servicos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border: 1px solid black;
}
.produtos,.clientes{
    border: 1px solid black;
    margin: 10px;
    padding: 100px;
}

.testemunhos{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.relacionamento{
    display: flex;
}
.simulacao{
    display:flex;
    flex-direction: column;
}